@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap'); 

html, div
{
    font-family: 'Courier New', Courier, monospace;
    color: papayawhip;
}


.background
{
    background-image: url(./images/back.png);
    background-position: center;
    background-color: black;
    padding-top: 10px;
    background-attachment: scroll;
    background-repeat: no-repeat;

}

.center
{
    text-align: center;
}

.column
{
    float: left;
    width: 20%;
    padding: 15px;
    background-color: darkslategray;
    border: black;

}

nav a
{
    float: left;
    width: 50%;
    display: block;
    padding: 0 0 10px, 10px;
    font-size: 16px;
    color: palegoldenrod;

    
}



h1, h2, p
{
    font-size: 24px;
    font-family: Heebo, sans-serif;

}

